# this file is used when starting test containers
[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
max_connections = 10000

# todo arz add allowPublicKeyRetrieval to  prod urls?